.container {
  background-color: #38345c;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 20px 0px;
  padding: 15px;
  border:none;
  border-radius: 5px;
  height: 9vh;
  cursor: pointer;
  /* height: 15%; */
}

.container:hover {
  background-color: #4952a3;
}
