.container {
  width:100%
}

.output {
  width:100%;
  padding: 8px 10px;
  overflow: auto;
  box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 40%), 0 0 3px 1px rgb(0 0 0 / 30%);
  background-color: #3f3a68e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(204, 153, 252);
  font-size: 15px;
  line-height: 3vh;
}

.code {
  color: rgb(204, 153, 252);
  font-size: 15px;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-top: 3vh;
}