.header{
    background:'#20045c';
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
}

.dashboard{
    height: 950px;
    background: white;
    display:flex;
    flex-direction: column;
    width:100vw;
    align-items: center;
}

.completed{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.categorySelect{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.exerciseTabs{
    margin-right: 120px;
    
}

.exerciseTabContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    width:90%;
}

.catBut{
    margin-right: 10px;
}

.difBut{
    margin-right: 10px;
}

.completed{
    display: flex;
    flex-direction: column
}

.butTrue{
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba(36, 0, 150, 1);
    color: white;
}

.butFalse{
    margin-right: 10px;
    border-radius: 4px;
    background-color: white;
    color: rgba(36, 0, 150, 1);
    border: 1px rgba(36, 0, 150, 1) solid;
}

