.container {
  /* display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'Open Sans';
  height: 50vh;
  overflow-y: auto; */
  height: 70vh;
}
