.form {
  display: flex;
  flex-direction: column;
}

.input {
  border:none;
  box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  width: 100%;
  height: 7vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}