.tab{
    height: 40px;
    width: 250px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    background-color: 	rgb(232,232,232);
    box-shadow: 1px 1px rgb(232,232,232);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab:hover{
    box-shadow: 0 0 3px black;
    margin-top: -2px;
}

.corner{
    height: 38px;
    width: 30px;
    background-color: green;
    position: absolute;
    right: 0;
    border-radius: 3px;
}

.exerciseName{
 margin-left: 10px;
}
