.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'Open Sans';
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 12px;
  min-height: 20px;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #30304b;
} 

.shareButton {
  background-color: #626ee3;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.shareButton:hover {
  background-color: #4952a3; 
}

.solutionButton {
  background-color: #38345C;
  width: 20%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 2vh;
}

.solutionButton:hover {
  background-color: #4952a3; 
}

.title {
  font-weight: bold;
}