html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cm-theme {
  height: 100% !important;
  width: 100% !important;
}

.ͼ15 {
  height: 95% !important;
  background: #202049 !important;
  border: 0.3px solid #393254 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.cm-activeLine {
  background-color: rgba(255, 255, 255, 0.1);
  
}

.cm-gutters {
  background-color: #1a1a3f !important;
}

