html,
body {
  padding: 0;
  margin: 0;
  --spinner:5rem;
  --rs-xxl:30em;
  --fs-xl: 4.5rem;
  --fs-600: 2.5rem;
  --fs-400: 1.4rem;
  --fs-100: 1.15rem;
  --fs-50: 1rem;
  --fs-20: 0.9rem;
  --fs-date: 0.8rem
}

@media (max-width: 1700px) {
  body {
  --rs-xxl:20em;
  --fs-xl: 4.1rem;
  --fs-600: 2.1rem;
  --fs-400: 1.2rem;
  --fs-100: 0.9rem;
  --fs-50: 0.8rem;
  --fs-20: 0.7rem;
  --fs-date: 0.6rem
  }
}

@media (min-width:2000px) {
  body {
    --spinner:7rem;
    --rs-xxl: 40em;
    --fs-xl: 6rem;
    --fs-600: 3rem;
    --fs-400: 2.2rem;
    --fs-100: 1.58rem;
    --fs-50: 1.5rem;
    --fs-20: 1.1rem;
    --fs-date: 1rem
  }
  
}

@media (min-width:2400px) {
  body {
    --spinner:11rem;
    --rs-xxl: 50em;
    --fs-xl: 10rem;
    --fs-600: 5rem;
    --fs-400: 3.5rem;
    --fs-100: 2.2rem;
    --fs-50: 2rem;
    --fs-20: 1.8rem;
    --fs-date: 1.6rem
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: gray;
}

* {
  box-sizing: border-box;
}

.cm-theme {
  height: 100% !important;
  width: 100% !important;
}


.ͼ15 {
  height: 95% !important;
  background: #202049 !important;
  border: 0.3px solid #281e4f !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.cm-activeLine {
  background-color: rgba(255, 255, 255, 0.1);
  
}

.cm-gutters {
  background-color: #1a1a3f !important;
}

.modal-body {
  background: rgb(230, 231, 235) !important;
}

.modal-body::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #8a8a94;
} 

h4 {
  font-size: var(--fs-400);
  font-weight: bold;
}

.ͼ1.cm-editor {
  position: relative !important;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  height: 95%;
}

.ͼ1j {
  height: 200px;
}

.ͼ1 .cm-scroller {
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}

.ͼ1 .cm-content {
  margin: 0;
  flex-grow: 2;
  flex-shrink: 0;
  min-height: 100%;
  display: block;
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  padding: 4px 0;
  outline: none;
}

.ͼ1 .cm-gutters {
  flex-shrink: 0;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  z-index: 200;
}

.ͼo .cm-gutters {
  background-color: #282a36;
  color: #6D8A88;
}

.ͼ3 .cm-gutters {
  background-color: #333338;
  color: #ccc;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
}

.ͼ1 .cm-gutter {
  display: flex !important;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 100%;
  overflow: hidden;
}

.ͼ4 .cm-line {
  caret-color: transparent !important;
}

.ͼo .cm-activeLine {
  background-color: rgba(255, 255, 255, 0.1);
}

.ͼ1 .cm-line {
  display: block;
  padding: 0 2px 0 4px;
}

.ͼt {
  color: #ff79c6;
}

.ͼu {
  color: #66d9ef;
}

.ͼo {
  background-color: #202049;
  color: #f8f8f2;
}

.ͼw {
  color: #bd93f9;
}

.ͼ1 .cm-cursorLayer {
  z-index: 100;
  contain: size style;
  pointer-events: none;
  animation-duration: 1200ms;
  animation-name: cm-blink2;

}

.ͼ1.cm-focused .cm-cursorLayer {
  animation: steps(1) cm-blink 1.2s infinite;
}

.ͼ1c {
  color: #50fa7b;
}

.ͼ17 {
  color: #f1fa8c;
}
.ͼ1b {
  color: #66d9ef;
}

.ͼ15 .cm-cursor, .ͼ15 .cm-dropCursor {
  border-left-color: #f8f8f0;
}

.cm-cursor {
  border-left-color: #f8f8f0;
}

.ͼ1c {
  color: #50fa7b !important;
}

.ͼv {
  color: #50fa7b !important;
}

.ͼ15 .cm-selectionLayer .cm-selectionBackground, .ͼ15 ::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

.ͼ15 .cm-selectionLayer .cm-selectionBackground, .ͼ15 ::selection {
  background-color: rgba(255, 255, 255, 0.1);
}