.container {
  background-color: #38345c;
  display: flex;
  flex-direction: column;
  color:white;
  font-family: 'Open Sans';
  font-size: var(--fs-50);;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.item {
  display: none;
}

.openItem {
  display: flex;
  margin-top: 10px;
  font-size: var(--fs-20);
  text-align: justify;
}

.arrowUp {
  color: "white";
  font-size:23;
  transition: transform .2s;
}

.arrowDown{
  color: "white";
  font-size:23; 
  transform: rotate(180deg);
}

